.score_0 {
    color: #FA5555;
}

.score_1 {
    color: #FA5955;
}

.score_2 {
    color: #F95C55;
}

.score_3 {
    color: #F95F55;
}

.score_4 {
    color: #F96255;
}

.score_5 {
    color: #F86555;
}

.score_6 {
    color: #F86855;
}

.score_7 {
    color: #F86B54;
}

.score_8 {
    color: #F76E54;
}

.score_9 {
    color: #F77154;
}

.score_10 {
    color: #F67554;
}

.score_11 {
    color: #F67854;
}

.score_12 {
    color: #F67B54;
}

.score_13 {
    color: #F57E54;
}

.score_14 {
    color: #F58154;
}

.score_15 {
    color: #F58453;
}

.score_16 {
    color: #F48753;
}

.score_17 {
    color: #F48A53;
}

.score_18 {
    color: #F38D53;
}

.score_19 {
    color: #F39053;
}

.score_20 {
    color: #F39353;
}

.score_21 {
    color: #F29653;
}

.score_22 {
    color: #F29953;
}

.score_23 {
    color: #F19C53;
}

.score_24 {
    color: #F19F52;
}

.score_25 {
    color: #F1A152;
}

.score_26 {
    color: #F0A452;
}

.score_27 {
    color: #F0A752;
}

.score_28 {
    color: #EFAA52;
}

.score_29 {
    color: #EFAD52;
}

.score_30 {
    color: #EEB052;
}

.score_31 {
    color: #EEB352;
}

.score_32 {
    color: #EEB552;
}

.score_33 {
    color: #EDB852;
}

.score_34 {
    color: #EDBB51;
}

.score_35 {
    color: #ECBE51;
}

.score_36 {
    color: #ECC151;
}

.score_37 {
    color: #EBC351;
}

.score_38 {
    color: #EBC651;
}

.score_39 {
    color: #EBC951;
}

.score_40 {
    color: #EACC51;
}

.score_41 {
    color: #EACE51;
}

.score_42 {
    color: #E9D151;
}

.score_43 {
    color: #E9D451;
}

.score_44 {
    color: #E8D651;
}

.score_45 {
    color: #E8D951;
}

.score_46 {
    color: #E7DB51;
}

.score_47 {
    color: #E7DE51;
}

.score_48 {
    color: #E7E151;
}

.score_49 {
    color: #E6E351;
}

.score_50 {
    color: #E6E650;
}

.score_51 {
    color: #E2E550;
}

.score_52 {
    color: #DFE550;
}

.score_53 {
    color: #DBE450;
}

.score_54 {
    color: #D8E450;
}

.score_55 {
    color: #D5E350;
}

.score_56 {
    color: #D1E350;
}

.score_57 {
    color: #CEE250;
}

.score_58 {
    color: #CBE250;
}

.score_59 {
    color: #C7E150;
}

.score_60 {
    color: #C4E150;
}

.score_61 {
    color: #C1E050;
}

.score_62 {
    color: #BDE050;
}

.score_63 {
    color: #BADF50;
}

.score_64 {
    color: #B7DF50;
}

.score_65 {
    color: #B4DE50;
}

.score_66 {
    color: #B1DE50;
}

.score_67 {
    color: #ADDD50;
}

.score_68 {
    color: #AADD50;
}

.score_69 {
    color: #A7DC50;
}

.score_70 {
    color: #A4DC50;
}

.score_71 {
    color: #A1DB50;
}

.score_72 {
    color: #9EDB50;
}

.score_73 {
    color: #9BDA50;
}

.score_74 {
    color: #98DA50;
}

.score_75 {
    color: #95D950;
}

.score_76 {
    color: #92D950;
}

.score_77 {
    color: #8FD850;
}

.score_78 {
    color: #8CD850;
}

.score_79 {
    color: #89D750;
}

.score_80 {
    color: #86D750;
}

.score_81 {
    color: #83D650;
}

.score_82 {
    color: #80D650;
}

.score_83 {
    color: #7DD550;
}

.score_84 {
    color: #7AD550;
}

.score_85 {
    color: #78D450;
}

.score_86 {
    color: #75D450;
}

.score_87 {
    color: #72D350;
}

.score_88 {
    color: #6FD350;
}

.score_89 {
    color: #6DD250;
}

.score_90 {
    color: #6AD250;
}

.score_91 {
    color: #67D150;
}

.score_92 {
    color: #65D050;
}

.score_93 {
    color: #62D050;
}

.score_94 {
    color: #60CF50;
}

.score_95 {
    color: #5DCF50;
}

.score_96 {
    color: #5ACE50;
}

.score_97 {
    color: #58CE50;
}

.score_98 {
    color: #55CD50;
}

.score_99 {
    color: #53CD51;
}

.score_100 {
    color: #51CC51;
}