@{
    ViewBag.Title = "比赛配置成功";
    ViewBag.ActivedNav = "Contest";
    ViewBag.NoIndex = true;
}

<style type="text/css">
    h5 {
        
        font-weight: normal;
    }
</style>

<div class="span12" style="margin-top: 20px; padding: 10px">
    <div class="alert alert-info" style="text-align: center">
        <h2>比赛配置成功</h2>
        <div>
            <div class="progress progress-striped progress-success active">
                <div class="bar" style="width: 100%;"></div>
            </div>
        </div>
        <h5>您已经成功配置了比赛 @Html.ActionLink((string)ViewBag.Contest,"Show",new{id=ViewBag.Contest})</h5>
        <h5>请在比赛前确认比赛相关信息、题目已经设置无误，比赛期间在线以应对特殊情况。</h5>
        <h5>如有必要，您可以再次打开比赛编辑向导，添加、修改题目和比赛预告。</h5>
        <h5>感谢您在Contest Hunter举办比赛！</h5>
        @Html.ActionLink("查看比赛", "Show", new { id = ViewBag.Contest }, new { @class = "btn btn-primary", style = "display:inline-block;" })
    </div>
</div>