@{
    ViewBag.Title = "Complete";
}

<style type="text/css">
    h5 {
        font-family: 微软雅黑;
        font-weight: normal;
    }
</style>

<div class="span12" style="margin-top: 20px; padding: 10px">
    <div class="alert alert-info" style="text-align: center">
        <h2>比赛配置成功</h2>
        <div>
            <div class="progress progress-striped progress-success active">
                <div class="bar" style="width: 100%;"></div>
            </div>
        </div>
        <h5>您已经成功配置了比赛 OrzCYF杯模拟赛</h5>
        <h5>请在比赛前确认比赛相关信息、题目已经设置无误，比赛期间在线以应对特殊情况。</h5>
        <h5>如有必要，您可以打开比赛编辑向导，添加和修改题目与比赛预告。</h5>
        <h5>感谢您在Contest Hunter举办比赛！</h5>
        <input class="btn btn-primary" type="submit" value="查看比赛">
    </div>
</div>