@{
    ViewBag.Title = "比赛";
    ViewBag.ActivedNav = "Contest";
}

<style type="text/css">
    .table {
        background-color: white;
        color: black;
        margin: 0px;
    }

        .table th,
        .table td {
            text-align: center;
            vertical-align: central;
            font-family: 微软雅黑;
        }

            .table td h6 {
                font-weight: normal;
            }
</style>
@if (ViewBag.Testing.Count > 0)
{
    <div class="span12">
        <div class="alert alert-success" style="margin-top: 20px; padding: 0px">
            <h5 style="margin: 0px 5px">进行中的比赛</h5>
            @*比赛前五分钟变为“进行中”，赛后测评结束后变为“已举办”  ?? 毫无道理，不予执行!*@
            <table class="table table-bordered table-striped table-hover">
                <colgroup>
                    <col style="width: 420px">
                    <col style="width: 100px">
                    <col style="width: 180px">
                    <col style="width: 200px">
                    <col style="width: 80px">
                </colgroup>
                <thead>
                    <tr>
                        <th>比赛名称</th>
                        <th>赛制</th>
                        <th>开始时刻/时长</th>
                        <th>操作</th>
                        <th>报名人数</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <h5 style="margin: 0px"><a href="#">Contest Hunter Beta Round #2</a></h5>
                            <h6 style="margin: 0px">From liouzhou_101</h6>
                        </td>
                        <td>
                            <div>ACM/ICPC</div>
                            @*OI、ACM/ICPC、Codeforces三种赛制*@
                            <div style="color: red">Official</div>
                            @*Official和Unofficial两种，前者计入rating，后者不计rating*@
                        </td>
                        <td>2013/02/20 19:00:00<br />
                            持续5小时
                        </td>
                        <td>
                            <div class="btn-group" style="padding: 5px">
                                <button class="btn btn-danger">进入比赛</button>
                            </div>
                        </td>
                        <td>
                            <div style="padding: 7px"><code>1234</code></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}
@if(ViewBag.
<div class="span12">
    <div class="alert alert-info" style="margin-top: 20px; padding: 0px">
        <h5 style="margin: 0px 5px">计划中的比赛</h5>
        <table class="table table-bordered table-striped table-hover">
            <colgroup>
                <col style="width: 420px">
                <col style="width: 100px">
                <col style="width: 180px">
                <col style="width: 200px">
                <col style="width: 80px">
            </colgroup>
            <thead>
                <tr>
                    <th>比赛名称</th>
                    <th>赛制</th>
                    <th>开始时刻/时长</th>
                    <th>操作</th>
                    <th>报名人数</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <h5 style="margin: 0px"><a href="#">Contest Hunter Beta Round #3</a></h5>
                        <h6 style="margin: 0px">From This_poet</h6>
                    </td>
                    <td>
                        <div>Codeforces</div>
                        <div style="color: red">Official</div>
                    </td>
                    <td>2013/02/20 19:00:00<br />
                        持续2小时
                    </td>
                    <td>
                        <div class="btn-group" style="padding: 5px">
                            <button class="btn btn-info">查看预告</button>
                        </div>
                    </td>
                    <td>
                        <div style="padding: 7px"><code>1234</code></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="span12">
    <div class="alert" style="margin-top: 20px; padding: 0px">
        <h5 style="margin: 0px 5px">已举办的比赛</h5>
        <table class="table table-bordered table-striped table-hover">
            <colgroup>
                <col style="width: 420px">
                <col style="width: 100px">
                <col style="width: 180px">
                <col style="width: 200px">
                <col style="width: 80px">
            </colgroup>
            <thead>
                <tr>
                    <th>比赛名称</th>
                    <th>赛制</th>
                    <th>开始时刻/时长</th>
                    <th>操作</th>
                    <th>报名人数</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <h5 style="margin: 0px"><a href="#">Contest Hunter Beta Round #1</a></h5>
                        <h6 style="margin: 0px">From applepi, Vani</h6>
                    </td>
                    <td>
                        <div>OI</div>
                        <div style="color: blue">Unofficial</div>
                    </td>
                    <td>2013/02/20 19:00:00<br />
                        持续3小时
                    </td>
                    <td>
                        <div class="btn-group" style="padding: 5px 0px">
                            <button class="btn btn-success">模拟比赛</button>
                            <button class="btn btn-warning">赛题练习</button>
                        </div>
                    </td>
                    <td>
                        <div style="padding: 7px"><code>1234</code></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="5" style="text-align: center">
                        <div class="pagination" style="margin: 0px">
                            <ul>
                                <li><a href="#"><<</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">>></a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
