@{
    ViewBag.Title = "List";
}

<style type="text/css">
    .table
    {
        background-color: white;
    }

        .table td h2,
        .table td h4,
        .table td h5
        {
            margin: 0px;
            text-align: center;
        }

        .table td h5
        {
            font-weight: normal;
        }

        .table td code
        {
            margin-left: 5px;
        }
</style>

<div class="span12" style="margin-top: 30px">
    <table class="table">
        <colgroup>
            <col style="width: 280px">
            <col style="width: 700px">
        </colgroup>
        <tbody>
            <tr>
                <td colspan="2" style="border: 0px">
                    <h2>Contest Hunter Beta Round #1</h2>
                </td>
            </tr>
            <tr>
                <td style="border: 0px">
                    <table class="table table-bordered table-striped table-hover">
                        <colgroup>
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <td>
                                    <h4>OI - Unofficial</h4>
                                    <h5>From applepi,Vani</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="progress progress-striped active" style="margin: 5px">
                                        <div class="bar" style="width: 50%; text-align: center"></div>
                                    </div>
                                    <h4>01:30:02</h4>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <ul class="nav nav-list">
                                        <li><a href="#">实时排名版</a></li>
                                        <li><a href="#">我的提交记录</a></li>
                                        <li><a href="#">所有提交记录</a></li>
                                        <li><a href="#">比赛预告</a></li>
                                        <li><a href="#">参考题解与试题分析</a></li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td style="border: 0px">
                    <table class="table table-bordered table-striped table-hover">
                        <colgroup>
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <td><a href="#">OrzSJY Problem</a><code>12/34</code></td>
                                <td style="text-align: right; border-left: 0px">From <a href="#">VariantF</a></td>
                                
                            </tr>
                            <tr>
                                <td><a href="#">OrzCYF Problem</a><code>56/78</code></td>
                                <td style="text-align: right; border-left: 0px">From <a href="#">onetwogoo</a></td>
                            </tr>
                            <tr><!--无更正加 style="display:none" -->
                                <td colspan="2">
                                    <div class="alert alert-error" style="margin:0px">
                                        赛题更正：
                                        OrzSJY Problem一题中无解情况应当输出Orz SJY。
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
