@{
    ViewBag.Title = "Manage";
}

<style type="text/css">
    h5
    {
        font-family: 微软雅黑;
        font-weight: normal;
    }

    .form-horizontal
    {
        width: 550px;
        margin: 10px auto;
        font-family: 微软雅黑;
    }

    .controls
    {
        text-align: left;
    }

    .accordion-group
    {
        background-color: white;
    }

    .table
    {
        background-color: white;
        font-family: 微软雅黑;
        color: black;
        margin: 10px auto;
    }

        .table td, .table th
        {
            text-align: center;
            vertical-align: middle;
        }
</style>

<div class="span12" style="margin-top: 20px; padding: 10px">
    <div class="alert alert-info" style="text-align: center">
        <h2>添加和管理试题</h2>
        <div>
            <div class="progress progress-striped progress-success active">
                <div class="bar" style="width: 75%;"></div>
            </div>
        </div>
        <h5>在本页面中您可以进入 OrzCYF杯模拟赛 中添加或编辑题目的向导</h5>
        <h5>请确保您添加的题目是原创题目，并确保标程能够通过。不要在赛前把试题公布给他人</h5>
        <fieldset>
            <legend>当前试题列表
                                <input class="btn btn-warning" type="submit" value="添加新的试题" style="float: right">
            </legend>
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>题目名称</th>
                        <th>出题人</th>
                        <th>测试点数目</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>OrzCYF</td>
                        <td>onetwogoo</td>
                        <td>20</td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-danger btn-small">编辑</button>
                                <button class="btn btn-inverse btn-small">删除</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
        <div class="control-group">
            <button class="btn btn-primary">上一步</button>
            <button class="btn btn-success">下一步</button>
        </div>
    </div>
</div>