@{
    ViewBag.Title = "Standing";
}

<link href="~/Content/ScoreColor.css" rel="stylesheet" type="text/css" />
<style type="text/css">
    table
    {
        background-color: white;
        font-family: 微软雅黑;
    }

    .table th, .table td
    {
        text-align: center;
        vertical-align: middle;
    }
</style>

<div class="span12" style="margin-top: 30px">
    <h2 style="text-align: center">Contest Hunter Beta Round #1</h2>
    <table class="table table-bordered table-striped table-hover">
        <colgroup>
            <col style="width: 50px">
            <col style="width: 150px">
            <col style="width: 80px">
            <col>
            <col>
            <col>@*有多少个题，这里就有多少个<col>*@
            <col style="width: 100px">
        </colgroup>
        <thead>
            <tr>
                <th>排名</th>
                <th>用户名</th>
                <th>总分</th>@*OI、CF赛制显示“总分”，ACM赛制显示“通过题数”*@
                <th>A</th>
                <th>B</th>
                <th>C</th>@*有多少个题，这里就有多少个<th></th>*@
                <th>总用时</th>@*OI赛制显示“总用时”，ACM赛制显示“总罚时”，CF赛制显示“猎杀数”*@
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><b>1</b></td>
                <td><a href="#">onetwogoo</a></td>
                <td><b>220</b></td>@*一个数值，OI、CF赛制显示总分，ACM赛制显示通过题数*@

                <td>@*OI赛制的情况，显示该题得分，class="score_该题得分"*@
                    <span class="score_65"><b>65</b></span>
                </td>
                <td>@*ACM赛制的情况，如果通过则显示该题AC时间和提交未通过的次数，如果提交未通过显示-X（X为提交次数），如果未提交则空着"*@
                    <span style="color: #50C350">01:23:45(10)</span>
                    @*未通过时：<span style="color:red">-3</span>*@
                </td>
                <td>@*CF赛制的情况，如果通过则显示该题得分，如果提交未通过显示-X（X为提交次数），如果未提交则空着"*@
                    <span style="color: #50C350"><b>1680</b></span>
                    @*未通过时：<span style="color:red"><b>-3</b></span>*@
                </td>
                @*有多少个题，这里就有多少个<td></td>*@

                <td>
                    <span style="color: orange"><b>16028</b></span><span style="color: blue"> ms</span>
                    @*ACM：（总罚时=各题ac时间之和+提交失败总次数*20分钟）<span style="color:blue">08:53:49</span>*@
                    @*CF：（+X:-Y，X为成功hunt次数，Y为失败次数，有一项为0则只显示一项，都为0则不显示）<span style="color: green">+2</span> : <span style="color:gray">-1</span>*@
                </td>
            </tr>

            <tr>
                <td><b>2</b></td>
                <td><a href="#">VariantF</a></td>
                <td><b>5732</b></td>

                <td>
                    <span class="score_99"><b>99</b></span>
                </td>
                <td>
                    <span style="color: red">-3</span>
                </td>
                <td>
                    <span style="color: red"><b>-3</b></span>
                </td>

                <td>
                    <span style="color: green">+2</span> : <span style="color: gray">-1</span>
                </td>
            </tr>

            <tr>
                <td><b>3</b></td>
                <td><a href="#">lydrainbowcat</a></td>
                <td><b>10</b></td>

                <td>
                    <span class="score_39"><b>39</b></span>
                </td>
                <td>
                    <span style="color: #50C350">01:23:45(0)</span>
                </td>
                <td>
                    <span style="color: #50C350"><b>2230</b></span>
                </td>

                <td>
                    <span style="color: blue">08:53:49</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
