@{
    ViewBag.Title = "Show";
}

<link href="~/Content/ScoreColor.css" rel="stylesheet" type="text/css" />

<div class="span12">
    <div class="alert alert-info" style="margin-top: 20px; padding: 5px; font-family: 微软雅黑; color: black">
        <div style="float: left; width: 320px">
            <table class="table table-bordered table-striped table-hover" style="background-color: white">
                <colgroup>
                    <col style="width: 100px">
                    <col style="width: 220px">
                </colgroup>
                <tbody>
                    <tr>
                        <td><b>题目名称</b></td>
                        <td><a href="#">我是神犇孙嘉裕标题要长</a></td>
                    </tr>
                    <tr>
                        <td><b>提交者</b></td>
                        <td><a href="#">onetwogoo</a></td>
                    </tr>
                    <tr>
                        <td><b>评测结果</b></td>
                        <td><span class="label label-success" style="font-size: 15px">通过</span></td>
                    </tr>
                    <tr>
                        <td><b>得分</b></td>
                        <td><span class="score_100"><b>100</b></span></td>
                    </tr>
                    <tr>
                        <td><b>用时</b></td>
                        <td><span style="color: orange"><b>987654</b></span><span style="color: blue"> ms</span></td>
                    </tr>
                    <tr>
                        <td><b>占用内存</b></td>
                        <td><span style="color: orange"><b>262144</b></span><span style="color: blue"> KB</span></td>
                    </tr>
                    <tr>
                        <td><b>代码长度</b></td>
                        <td><span style="color: orange"><b>12306</b></span><span style="color: blue"> B</span></td>
                    </tr>
                    <tr>
                        <td><b>语言</b></td>
                        <td>Pascal</td>
                    </tr>
                    <tr>
                        <td><b>提交时间</b></td>
                        <td>2013/2/12 17:39:00</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="alert" style="float: right; width: 550px">
            <h5 style="color: red; float: right">v-Judge-Kernel @@ Contest Hunter</h5>
            <h5>编译信息：</h5>
            <div style="padding-left: 10px">
                Warning blablabla<br />
                ……………………<br />
            </div>
            <h5>各测试点详细信息：</h5>
            <div style="padding-left: 10px">
                #1：<span class="score_100"><b>通过</b></span> (????? ms / ????? KB)<br />
                #2：<span class="score_0">答案错误</span> (????? ms / ????? KB)<br />
                #3：<span class="score_0">超过时间限制</span> (????? ms / ????? KB)<br />
                #4：<span class="score_100"><b>通过</b></span> (????? ms / ????? KB)<br />
                #5：<span class="score_0">答案错误</span> (????? ms / ????? KB)<br />
                #6：<span class="score_0">超过时间限制</span> (????? ms / ????? KB)<br />
                #7：<span class="score_100"><b>通过</b></span> (????? ms / ????? KB)<br />
                #8：<span class="score_0">答案错误</span> (????? ms / ????? KB)<br />
                #9：<span class="score_0">超过时间限制</span> (????? ms / ????? KB)<br />
                #10：<span class="score_100"><b>通过</b></span> (????? ms / ????? KB)<br />
            </div>
        </div>
        <div style="clear: both; width: 925px">
            大家好，我是代码高亮插件。
        </div>
    </div>
</div>
