@model string

@{
    ViewBag.Title = "Error";
}
@* TODO 本页显示不可恢复的错误，通常它们是由于用户非法修改页面参数引起的 *@

<div class="span12">
    <div class="alert alert-error" style="margin-top:30px; min-height:350px; font-family:微软雅黑">
        <div style="margin:50px">
            <h3><Img src="/Image/Error.gif" style="margin-right:20px"/>Oh,Shit~!</h3>
            <h4>系统傲娇了，乃对Ta捉了神马>_<？</h4>
        </div>
        <div style="padding-left:50px">错误信息：@Model</div>
    </div>
</div>
