@model ContestHunter.Models.View.RegisterModel
@{
    ViewBag.Title = "邮箱验证";
    ViewBag.ActivedNav = "Register";
    ViewBag.NoIndex = true;
}

<div class="span12" style="margin-top: 20px; padding: 10px">
    <div id="RegisterContent" class="alert alert-info" style="text-align: center;">
        <h2>用户注册</h2>
        <div style="margin: 100px auto; text-align: center; width: 500px">
            <div class="progress progress-striped progress-success active">
                <div class="bar" style="width: 50%;"></div>
            </div>
            系统已向您的邮箱 <b>@Model.Email</b> 发送了一封邮件<br />
            请点击邮箱中的链接完成注册！<br />
            <br />
            <div style="margin: auto">
                @Html.ActionLink("返回主页", "Index", "Home", null, new { style = "display:inline-block;", @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</div>
