@model ContestHunter.Models.View.RegisterModel
@{
    ViewBag.Title = "验证密码";
    ViewBag.ActivedNav = "Register";
    ViewBag.NoIndex = true;
}
<div class="span12" style="margin-top: 20px; padding: 10px">
    <div id="RegisterContent" class="alert alert-info" style="text-align: center;">
        <h2>用户注册</h2>
        <div style="margin: 100px auto; text-align: center; width: 500px">
            <div class="progress progress-striped progress-success active">
                <div class="bar" style="width: 75%;"></div>
            </div>
            <p><b>@Model.Name</b>，欢迎回来！</p>
            <p>为确保安全，请再次输入您注册时输入的密码以供确认：</p>

            @using (Html.BeginForm("CheckPassword", "User", new
            {
                passwordHash = ViewBag.PasswordHash,
                Email = Model.Email,
                Name = Model.Name,
                emailHash = ViewBag.EmailHash
            }, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                <div class="control-group">
                    <div class="contorls">
                        @Html.PasswordFor(x => x.Password, new { @class = "input-xlarge", placeholder = "刚才注册时输入的密码" })
                        @Html.ValidationMessageFor(x => x.Password)
                    </div>
                </div>
                <input type="submit" value="确定" class="btn btn-primary" />
            }
        </div>
    </div>
</div>
