@model ContestHunter.Models.View.RegisterModel
@{
    ViewBag.Title = "注册成功";
    ViewBag.ActivedNav = "Register";
    ViewBag.NoIndex = true;
}

<div class="span12" style="margin-top: 20px; padding: 10px">
    <div id="RegisterContent" class="alert alert-info" style="text-align: center;">
        <h2>用户注册</h2>
        <div style="margin: 100px auto; text-align: center; width: 500px">
            <div class="progress progress-striped progress-success active">
                <div class="bar" style="width: 100%;"></div>
            </div>
            您已经成功注册账号 <b>@Model.Name</b><br />
            接下来您可以在Contest Hunter中参加、举办比赛，祝您愉快！<br />
            <br />
            @Html.ActionLink("现在登录", "Login", null, new { style = "display:inline-block;", @class = "btn btn-success" })
        </div>
    </div>
</div>
