@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <title>您的浏览器版本过低</title>
</head>
<body>
    <div class="container" style="width: 940px">
        <div class="row">
            <div class="span12">
                <div class="alert alert-error" style="margin-top: 30px; min-height: 350px;">
                    <div style="margin: 50px">
                        <h3>
                            <img src="~/Image/Error.gif" style="margin-right: 20px" />Oh,Shit~!</h3>
                        <h4>系统傲娇了，乃对Ta捉了神马>_<？</h4>
                    </div>
                    <div class="alert alert-warning" style="padding-left: 50px">
                        Contest Hunter 对 <b>IE8</b> 或更低版本浏览器无爱，<b>已停止加载</b>。<br/>
                        同时，如果您安装有 <b>360</b> 系列浏览器，强烈建议您立即卸载！<br/><br/>
                        Contest Hunter推荐下列浏览器：<br/>
                        <a href="http://windows.microsoft.com/zh-CN/internet-explorer/download-ie"><b>Internet Explorer 10</b></a>，
                        <a href="http://www.google.com/intl/zh-CN/chrome/browser/"><b>Google Chrome</b></a>，
                        <a href="http://firefox.com.cn/download/"><b>Mozilla Firefox</b></a>，
                        <a href="http://www.apple.com/safari/"><b>Apple Safari</b></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
