@model ContestHunter.Models.View.HomeIndexModel
@{
    ViewBag.Title = "主页";
    ViewBag.ActivedNav = "Home";
}

<style type="text/css">
    .table {
        background-color: white;
        color: black;
        margin: 0px;
    }

        .table th,
        .table td {
            text-align: center;
            vertical-align: middle;
        }

    legend {
        font-size: 16px;
        margin: 0px;
    }
</style>

<div class="span12">
    <div style="margin: 20px auto">
        <img src="~/Image/Keyboard-Clone-Invasion-Make.jpg" style="width:940px; height:495px;">
    </div>
    <div>
        <div style="float: left; width: 600px">
            <div>
                <div class="alert alert-info" style="float: left; width: 240px; height: 195px">
                    <fieldset>
                        <legend>各式各样的赛制</legend>
                        OI赛制与现行NOIP/NOI的规则基本一致，试题有部分分但不显示评测结果。<br />
                        ACM/ICPC赛制使用ACM/ICPC竞赛规则，以通过题数和罚时来衡量成绩。<br />
                        Codeforces赛制设有预先测试并返回评测结果。通过预先测试后，还可以制作数据找出他人代码中的错误。
                    </fieldset>
                </div>
                <div class="alert alert-error" style="float: right; width: 240px; height: 195px">
                    <fieldset>
                        <legend>开放自助的理念</legend>
                        ContestHunter秉承开放共赢的理念，将公开所有提交者的代码以及试题的完整测试数据，您可在个人范围内使用。<br />
                        ContestHunter还致力于实现用户自助举办比赛，而不需要管理员的干预。不过为了保证Official比赛的质量，网站对此有一些限制。<br />
                    </fieldset>
                </div>
                <div style="clear: both"></div>
            </div>
            <div>
                <div class="alert alert-success" style="float: left; width: 240px; height: 195px">
                    <fieldset>
                        <legend>丰富多彩的形式</legend>
                        正式参赛、情境模拟和赛题练习三种形式，最大程度满足您的时间条件。<br />
                        能力评估系统通过头衔和数值，对用户参加比赛的实力进行评价。<br />
                        比赛还分为Official和Unofficial两类，分别代表计入和不计入能力排名，帮助您选择其中质量高、重要度大的比赛。
                    </fieldset>
                </div>
                <div class="alert" style="float: right; width: 240px; height: 195px">
                    <fieldset>
                        <legend>使用提示和帮助</legend>
                        目前系统网页端在Windows上运行，测评在Linux上进行，C/C++代码请使用%lld输入输出64位整数。<br/>
                        欢迎您对网站的功能进行测试和提出建议，并希望您向开发者反馈Bug。<br/>
                        联系网站管理员：@Html.UserLink("lydrainbowcat")、VariantF。
                    </fieldset>
                </div>
                <div style="clear: both"></div>
            </div>
        </div>
        <div style="float: right; width: 320px">
            <table class="table table-bordered table-striped table-hover">
                <colgroup>
                    <col style="width: 55px">
                    <col style="width: 180px">
                    <col style="width: 80px">
                </colgroup>
                <thead>
                    <tr>
                        <th colspan="3">比赛猎手榜</th>
                    </tr>
                    <tr>
                        <th>排名</th>
                        <th>用户名</th>
                        <th>能力评估</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Rating.Count; i++)
                    {
                        <tr>
                            <td>@(i + 1)</td>
                            <td>@Html.UserLink(Model.Rating[i].Name)</td>
                            <td>@Model.Rating[i].Rating()</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div style="clear: both"></div>
    </div>
</div>
