@{
    ViewBag.Title = "主页";
    ViewBag.ActivedNav = "Home";
}

<style type="text/css">
    .table
    {
        background-color: white;
        color: black;
        margin: 0px;
    }

        .table th,
        .table td
        {
            text-align: center;
            vertical-align: middle;
            font-family: 微软雅黑;
        }
    fieldset
    {
        font-family:微软雅黑;
    }
</style>

<div class="span12">
    <div style="margin:20px auto">
        <Img src="~/Image/Keyboard-Clone-Invasion-Make.jpg">
    </div>
    <div>
        <div style="float: left; width: 600px">
            <div>
                <div class="alert alert-info" style="float: left; width: 240px; height: 195px">
                    <fieldset>
                        <legend>比赛</legend>
                        OI、ACM/ICPC、Codeforces三种赛制；
                        正式比赛结束前随时可以报名参赛；
                        如果错过正式比赛，可以还原比赛情境进行一场模拟练习。
                    </fieldset>
                </div>
                <div class="alert alert-error" style="float: right; width: 240px; height: 195px">内容待定</div>
                <div style="clear: both"></div>
            </div>
            <div>
                <div class="alert alert-success" style="float: left; width: 240px; height: 195px">内容待定</div>
                <div class="alert" style="float: right; width: 240px; height: 195px">内容待定</div>
                <div style="clear: both"></div>
            </div>
        </div>
        <div style="float: right; width: 320px">
            <table class="table table-bordered table-striped table-hover">
                <colgroup>
                    <col style="width: 80px">
                    <col style="width: 155px">
                    <col style="width: 80px">
                </colgroup>
                <thead>
                    <tr>
                        <th colspan="3">比赛达人榜</th>
                    </tr>
                    <tr>
                        <th>排名</th>
                        <th>用户名</th>
                        <th>能力评估</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>VariantF</td>
                        <td>2600</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>VariantF</td>
                        <td>2600</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>VariantF</td>
                        <td>2600</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>VariantF</td>
                        <td>2600</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>VariantF</td>
                        <td>2600</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>VariantF</td>
                        <td>2600</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>VariantF</td>
                        <td>2600</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>VariantF</td>
                        <td>2600</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>VariantF</td>
                        <td>2600</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>VariantF</td>
                        <td>2600</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="clear: both"></div>
    </div>
</div>
