@{
    ViewBag.Title = "主页";
    ViewBag.ActivedNav = "Home";
}

<h1>Home Page Content</h1>
CurrentUser: @User.Identity.Name
<form>
    <textarea name="test" class="ckeditor">Hello</textarea>
</form>