@model List<ContestHunter.Models.Domain.Daemon>
@{
    ViewBag.Title = "后台进程";
    ViewBag.NoIndex = true;
}

<style>
    .table {
        background-color: white;
    }

        h2, .table td, .table th {
            text-align: center;
        }
</style>

<div class="span12">
    <h2>后台进程状态</h2>
    <table class="table table-bordered table-striped table-hover">
        <colgroup>
            <col>
            <col>
            <col>
        </colgroup>
        <thead>
            <tr>
                <th>进程名称</th>
                <th>当前状态</th>
                <th>上次异常信息</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var d in Model)
            {
                <tr>
                    <td>@d.GetType().Name</td>
                    <td>@d.type</td>
                    <td>
                        <pre style="text-align:left">@d.lastException</pre>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
