<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CHDB" connectionString="metadata=res://*/Database.CHDB.csdl|res://*/Database.CHDB.ssdl|res://*/Database.CHDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=moo.imeng.de;initial catalog=ContestHunter;user id=CHUser;password=07070078899;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>