@{
    ViewBag.Title = "编辑成功";
    ViewBag.ActivedNav = "Contest";
}

<style type="text/css">
    h5 {
        
        font-weight: normal;
    }
</style>

<div class="span12" style="margin-top: 20px; padding: 10px">
    <div class="alert alert-info" style="text-align: center">
        <h2>试题编辑成功</h2>
        <div>
            <div class="progress progress-striped progress-success active">
                <div class="bar" style="width: 100%;"></div>
            </div>
        </div>
        <h5>您已经成功在比赛 @Html.ActionLink((string)ViewBag.Contest, "Show", "Contest", new { id = ViewBag.Contest }, null) 中配置了题目 @Html.ActionLink((string)ViewBag.Problem, "Show", new { id = ViewBag.Problem, contest = ViewBag.Contest })</h5>
        <h5>请您尽快提交标程进行测试，保证标程能够通过本题。</h5>
        <h5>如有必要，您可以打开试题编辑向导，调整时间和内存限制。</h5>
        <h5>感谢您为Contest Hunter提供试题！</h5>
        @Html.ActionLink("查看试题", "Show", new { id = ViewBag.Problem, contest = ViewBag.Contest }, new { @class = "btn btn-primary", style = "display:inline-block;" })
    </div>
</div>
