@{
    ViewBag.Title = "Config";
}

<div class="span12" style="margin-top: 20px; padding: 10px">
    <div class="alert alert-info" style="text-align: center">
        <h2>配置测试数据</h2>
        <div>
            <div class="progress progress-striped progress-success active">
                <div class="bar" style="width: 60%;"></div>
            </div>
        </div>
        <div class="btn-group">
            <button class="btn btn-primary">上一步</button>
            <button class="btn btn-success">下一步</button>
        </div>
    </div>
</div>