@{
    ViewBag.Title = "DataShow";
}

<style type="text/css">
    .table
    {
        background-color: white;
        font-family: 微软雅黑;
        margin:20px auto;
    }

    .table td, .table th
    {
        text-align: center;
        vertical-align: middle;
    }

    h3, h4
    {
        text-align: center;
    }

    h4
    {
        font-family: 微软雅黑;
        font-weight: normal;
    }
</style>

<div class="span12">
    <h3>OrzCYF（这是题目名称）</h3>
    <h4>测试数据列表</h4>
    <table class="table table-bordered table-striped table-hover">
            <colgroup>
                <col>
                <col>
                <col>
                <col>
                <col>
            </colgroup>
            <thead>
                <tr>
                    <th>输入文件名</th>
                    <th>输出文件名</th>
                    <th>时间限制</th>
                    <th>内存限制</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>这里和TestCase页面一样</td>
                    <td>显示CRC和悬停预览就行了。</td>
                    <td><span style="color: orange"><b>1</b></span><span style="color: blue"> s</span></td>@*保留一位小数*@
                    <td><span style="color: orange"><b>256</b></span><span style="color: blue"> MB</span></td>
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-small btn-info">下载</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    <div class="btn-group" style="margin: 10px auto; text-align: center">
        <button class="btn btn-primary">返回题目</button>
    </div>
</div>