@{
    ViewBag.Title = "Show";
}

<style type="text/css">
    .table td
    {
        font-family: 微软雅黑;
        text-align:center;
    }
</style>

<div class="span12">
    <div style="width: 980px; text-align: center">
        <h3>OrzCYF Problem</h3>
        <table class="table table-striped table-bordered" style="background-color: white; width: 400px; margin:10px auto">
            <colgroup>
                <col style="width: 100px">
                <col style="width: 100px">
                <col style="width: 100px">
                <col style="width: 100px">
            </colgroup>
            <tbody>
                <tr>
                    <td><b>总时限</b></td>
                    <td>10s</td>
                    <td><b>内存限制</b></td>
                    <td>256MB</td>
                </tr>
                <tr>
                    <td><b>出题人</b></td>
                    <td>onetwogoo</td>
                    <td><b>提交情况</b></td>
                    <td>78/90</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="btn-group" style="margin:10px auto; text-align:center; padding-left:30px">
        <button class="btn btn-success">提交</button>
        <button class="btn btn-info">状态</button>
        <button class="btn btn-warning">数据</button>
    </div>
    <div style="width: 980px">
        <embed src="http://www.codeforces.com/gym/100134/attachments/download/1331/20122013-acmicpc-northeastern-european-regional-contest-neerc-12-en.pdf" width="980" height="1350" />
    </div>
</div>
