@{
    ViewBag.Title = "Index";
}

<style type="text/css">
    .table
    {
        background-color: white;
        color: black;
        margin: 0px;
    }

        .table th,
        .table td
        {
            text-align: center;
            vertical-align: middle;
            font-family: 微软雅黑;
        }
</style>

<div class="span12">
    <div class="alert alert-info" style="margin-top: 20px; padding: 0px">
        <div class="form-search" style="margin:0px 5px">
            <h4 style="float: left; font-family: 微软雅黑; font-weight: normal;">能力排名</h4>
            <div style="float: right; margin-top:5px">
                <input type="text" class="input-small search-query" placeholder="检索用户">
                <input type="submit" class="btn btn-small btn-success" value="查询">
            </div>
            <div style="clear: both"></div>
        </div>
        <table class="table table-bordered table-striped table-hover">
            <colgroup>
                <col style="width: 80px">
                <col style="width: 200px">
                <col>
                <col style="width: 100px">
            </colgroup>
            <thead>
                <tr>
                    <th>排名</th>
                    <th>用户名</th>
                    <th>格言</th>
                    <th>能力评估值</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td><a href="#"><b>VariantF</b></a></td>
                    <td>Shi Qing is all my love...</td>
                    <td><a href="#"@*链接到History*@ style="color:black"><b>2600</b></a></td>
                </tr>
            </tbody>
        </table>
        <div class="pagination" style="text-align:center; margin:3px">
            <ul>
                <li><a href="#">«</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">»</a></li>
            </ul>
        </div>
    </div>
</div>
