@{
    ViewBag.Title = "版聊";
}

<style type="text/css">
    .table {
        background-color: white;
        color: black;
        margin: 0px;
    }

        .table th,
        .table td {
            vertical-align: middle;
        }

        .table th {
            text-align: center;
        }

    .alert {
        padding: 5px;
    }

    .short {
        margin-bottom: 3px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .inner {
        margin:5px 0px;
        width:650px;
    }
    .image-inner {
        width:50px;
        margin-left:5px;
    }
    .fieldset-inner {
        width:590px;
    }
    .legend-inner {
        font-size:15px;
        margin:0px;
        border:0px;
        line-height:normal;
    }
    .left {
        float:left;
    }
    .right {
        float:right;
    }
    .right-text {
        text-align:right;
    }
</style>

<div class="span12">
    <div class="alert alert-info" style="margin-top: 20px">
        <fieldset style="width: 670px; float: left">
            <legend>公共版聊区</legend>
            <div class="inner">
                <div class="image-inner left">@Html.Gravatar("hyqjlyd@qq.com", 50)</div>
                <fieldset class="fieldset-inner right">
                    <legend class="legend-inner">lydrainbowcat (17:05:00)</legend>
                    XLk太神了。
                </fieldset>
                <div style="clear: both"></div>
            </div>
            <div class="inner">
                <div class="image-inner right">@Html.Gravatar("sunjiayu_2006@126.com", 50)</div>
                <fieldset class="fieldset-inner right-text">
                    <legend class="legend-inner right-text">VariantF (17:15:30)</legend>
                    神爆了不解释！<br/>跪烂烂！<br/>= =
                </fieldset>
                <div style="clear: both"></div>
            </div>
            <div class="inner">
                <div class="image-inner left">@Html.Gravatar("onetwogoo@live.com", 50)</div>
                <fieldset class="fieldset-inner right">
                    <legend class="legend-inner">onetwogoo (17:18:26)</legend>
                    都是渣渣，弱爆了。
                </fieldset>
                <div style="clear: both"></div>
            </div>
            <div style="margin-top:10px">
                @Html.TextArea("text", new { @class = "inputarea", style = "width:590px; height:50px;" })
                <div style="float: right">
                    <input type="button" class="btn btn-warning short" value="清空" onclick="$('.inputarea').val('');"><br />
                    <input type="submit" class="btn btn-success" value="发送" style="height: 35px">
                </div>
            </div>
        </fieldset>
        <table class="table table-bordered table-striped table-hover" style="width: 250px; float: right">
            <colgroup>
                <col>
            </colgroup>
            <thead>
                <tr>
                    <th>当前聊天区中在线用户</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <Img src="~/Image/Myself.png" height="16" width="16">
                        VariantF
                        <a href="#" style="float: right; margin-top: 3px">私聊</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <Img src="~/Image/Online.png" height="16" width="16">
                        lydrainbowcat
                        <a href="#" style="float: right; margin-top: 3px">私聊</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <Img src="~/Image/Online.png" height="16" width="16">
                        onetwogoo
                        <a href="#" style="float: right; margin-top: 3px">私聊</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="clear: both"></div>
    </div>
</div>
